    <nav>
        <div class="nav-wrapper">
            {{#link-to "index" class='brand-logo'}}
                <i class="large material-icons">ondemand_video</i>
                GetSubs
            {{/link-to}}
            <ul class="right hide-on-med-and-down">
                {{#link-to "directory" tagName="li"}}
                    <a href="#"><i class="left material-icons">folder</i>Directories</a>
                {{/link-to}}
            </ul>
        </div>
    </nav>